@model BYOD_manager.Models.BYOD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BYOD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MISID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MISID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EQID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
